.field-input {
    height: 40px;
    border: 1px solid #bbbbbb;
    min-width: 100px;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
}

.field-input:hover {
    cursor: pointer;
}

.field-input.focus {
    border-color: #01b075;
}

.field-input-default {
    height: 40px;
    border: 1px solid #bbbbbb;
    min-width: 100px;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 13px;
}

.field-input.money {
    padding-right: 30px;
}

.searchbox {
    position: relative;
}

.searchbox input {
    padding-left: 40px;
    padding-right: 36px;
    background-size: 16px 16px;
    background-position: 16px center;
    background-repeat: no-repeat;
    border: 1px solid #bbbbbb;
    font-size: 13px;
}

.searchbox .clearchoice.icon-clear {
    position: absolute;
    right: 10px;
    margin-top: 12px;
    box-sizing: border-box;
}

.searchbox .clearchoice.icon-clear:hover {
    cursor: pointer;
}

.searchbox input:focus {
    border: 1px solid #019160;
}

input:focus {
    border: 1px solid #019160;
}