.icon-add {
    background-image: url("../../content/icon/add.png");
}

.icon-avatar {
    background-image: url("../../content/icon/avatar-default.png");
}

.icon-down {
    background-image: url("../../content/icon/btn-down.svg");
}

.icon-up {
    background-image: url("../../content/icon/btn-up.svg");
}

.icon-prev {
    background-image: url("../../content/icon/btn-prev-page.svg");
}

.icon-next {
    background-image: url("../../content/icon/btn-next-page.svg");
}

.icon-first {
    background-image: url("../../content/icon/btn-firstpage.svg");
}

.icon-last {
    background-image: url("../../content/icon/btn-lastpage.svg");
}

.icon-clear {
    background-image: url("../../content/icon/x.svg");
}

.icon-dashboard {
    background-image: url("../../content/icon/dashboard.png");
}

.icon-buy {
    background-image: url("../../content/icon/dashboard.png");
}

.icon-employee {
    background-image: url("../../content/icon/dic-employee.png");
}

.icon-document {
    background-image: url("../../content/icon/document-online.png");
}

.icon-option {
    background-image: url("../../content/icon/option.png");
}

.icon-radio {
    background-image: url("../../content/icon/radio.svg");
}

.icon-radio-checked {
    background-image: url("../../content/icon/radio-checked.png");
}

.icon-refresh {
    background-image: url("../../content/icon/refresh.png");
}

.icon-report {
    background-image: url("../../content/icon/report.png");
}

.icon-save {
    background-image: url("../../content/icon/save.png");
}

.icon-search {
    background-image: url("../../content/icon/search.png");
}

.icon-setting {
    background-image: url("../../content/icon/setting.png");
}

.icon-close {
    background-image: url("../../content/icon/x.svg");
}

.icon-toggle {
    background-image: url("../../content/img/toggle.png");
}

.icon-notification {
    background-image: url("../../content/icon/notification.png");
}

.icon-white-prev {
    background-image: url("../../content/icon/white-prev.png");
}