@import url("../../css/base/button.css");
@import url("../../css/base/dropdown.css");
.content {
    position: absolute;
    top: 48px;
    left: 225px;
    height: calc(100vh - 49px);
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    /* width: 100vw; */
    display: block;
    background-color: #E9EBEE;
    -webkit-transition-duration: 0.5s;
    /* display: none; */
}

.content.expanded {
    left: 51px;
    width: calc(100vw - 52px);
}

.content .content-header {
    position: relative;
    height: 60px;
    width: calc(100vw - 225px);
    /* background-color: #ccc; */
    display: flex;
    justify-content: space-between;
    -webkit-transition-duration: 0.5s;
}

.content .content-header.expanded {
    width: calc(100vw - 52px);
}

.content .content-header .title {
    padding-top: 20px;
    font-size: 20px;
    width: auto;
    font-weight: bold;
    margin-left: 16px;
}

.content .content-header .head-button-zone {
    display: flex;
}

.content-header .button {
    height: 40px;
    width: auto;
    padding-left: 40px;
    margin-top: 12px !important;
    margin-right: 16px !important;
    /* background-image: url("../../assets/icon/add.png"); */
    background-repeat: no-repeat;
    background-position: 16px center;
}

.content .toolbar {
    height: 44px;
    width: calc(100vw - 225px);
    justify-content: space-between;
    display: flex;
    padding-top: 4px;
    -webkit-transition-duration: 0.5s;
}

.content .toolbar.expanded {
    width: calc(100vw - 52px);
}

.content .toolbar .button.icon-refresh {
    margin-right: 16px;
    height: 40px;
    width: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    background-size: 20px 20px;
    background-position: center;
}

.content .toolbar .button.icon-refresh:hover {
    background-color: #f2f2f2;
}

.content .filter {
    height: 48px;
    width: auto;
    display: flex;
    box-sizing: border-box;
}

.content .filter .field-input-icon {
    height: 40px;
    width: 300px;
    display: flex;
    /* border: 1px solid #bbb; */
    border-radius: 4px;
    margin-left: 16px;
    box-sizing: border-box;
}

.content .filter .field-input-icon input {
    line-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}

.dropdown {
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown .filter-division {
    width: 200px;
    box-sizing: border-box;
}

.filter .dropdown .itemwrapper {
    width: 200px;
    z-index: 10;
}

.content .table-wrapper {
    height: calc(100vh - 213px);
    width: calc(100vw - 255px);
    margin-left: 16px;
    display: block;
    overflow: scroll;
    -webkit-transition-duration: 0.5s;
}

.content .table-wrapper.expanded {
    width: calc(100vw - 82px);
}

.table-wrapper table {
    width: 100%;
    /* height: 100%; */
    border-collapse: collapse;
}

table thead th {
    position: sticky;
    top: 0;
    background-color: #fff;
    font-size: 13px;
    padding-left: 10px;
}


/* 
.content 

.content  */


/* .content */